.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.register-wrapper{
    max-width: 400px;
    -webkit-box-shadow: 0px 0px 2px 0px #4e4e4e; 
    box-shadow: 0px 0px 2px 0px #4e4e4e;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register h1{
    font-family: 'Grand Hotel', cursive;
    color: var(--primary-dark);
    font-size: 48px;
    margin: 15px;
}
.register p{
    color: gray;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 60px;
    text-align: center;
}
.register .form-inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px;
}
.form-inputs .register-input{
    width: calc(100% - 80px);
    margin: 10px 40px;
}
.register-btn{
    background-color: var(--main-blue);
    color: white;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
